@page "/"
@using Microsoft.AspNetCore.SignalR.Client;
@using Monitor_Client.DTOs;
@using Newtonsoft.Json;
<PageTitle>Home</PageTitle>

<h1>Para testear dirigase a la pestaña del monitor</h1>

@code{

    static readonly HttpClient client = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        IList<OfficeDTO> offices = new List<OfficeDTO>();

        try
        {
            string response = await client.GetStringAsync("http://localhost:5030/office/getAllOffices");

            offices = JsonConvert.DeserializeObject<List<OfficeDTO>>(response);

            Console.WriteLine(offices.Count);


            for(int i = 0; offices.Count > i; i++) {
                Console.WriteLine(offices[i].Identificator);
            }

        }catch(Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }


}