@page "/"
@using Microsoft.AspNetCore.SignalR.Client;
@using API_Gateway_Client.DTOs
@using Newtonsoft.Json;
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>


<h1>Oficinas disponibles:</h1>

@foreach (var i in offices)
{
    <tr>
        <td>
            <h3>
                <a href="@NavigationManager.ToAbsoluteUri("/clientMonitor/" + i.Identificator)">@i.Identificator</a>
            </h3>
        </td>
    </tr>
}




<RadzenButton Click="@ButtonClicked" Text="Actualizar Lista de Monitores"></RadzenButton>

@code{

    static readonly HttpClient client = new HttpClient();

    IList<OfficeDTO> offices = new List<OfficeDTO>();

    //Cuando se inicializa el componente:
    protected override async Task OnInitializedAsync()
    {
        ReloadOfficeList();

    }

    void ButtonClicked()
    {
        //TODO: chekc if I can find a way of routing this page dinamically :7
        //Console.WriteLine(NavigationManager.GetUriWithQueryParameter("clientMonitor", offices[0].Identificator));

        ReloadOfficeList();
        //Console.WriteLine(NavigationManager.ToAbsoluteUri("/monitorClient/" + offices[0].Identificator));

    }

    async void ReloadOfficeList()
    {
        //conseguimos todas las oficinas desde CommercialOffice
        try
        {
            string response = await client.GetStringAsync("http://localhost:5030/office/getAllOffices");

            offices = JsonConvert.DeserializeObject<List<OfficeDTO>>(response);

            //Le avisamos al componente que se re-renderize dado que su estádo ha cambiado
            InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

}